.comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.comment {
  border: 2px solid var(--light-background);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

.lightfont {
  color: var(--light-font)
}

.red {
  color: var(--red);
}

.message{
  padding: 8px;
  border-radius: 30px;
  border: 2px solid  var(--primary);
  background-color: transparent;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
  width: 230px;
  margin-bottom: 30px; 
  color: white;
}

.message:focus{
  border-color: var(--dark-accent);
}

.send{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}